---
import "photoswipe/style.css";


---

  <div class=" grid grid-cols-3 max-w-6xl gap-8 mx-auto py-20" id="gallery">

    {
      Array.from({ length: 9 }).map((_, i) => (
        <a 
          class="group rounded-xl  transition-all hover:scale-105 relative aspect-square"
          href={`/archivo-page/1/gallery/img-${i + 1}.webp`}
          target="_blank"
          data-pswp-width="1875"
          data-pswp-height="2500"
        >
          
          <img 
            class=" rounded-xl aspect-square object-cover"
            loading="lazy"  
            src={`/archivo-page/1/gallery/thumbnails/img-${i + 1}.webp`} 
            alt=""
          >

          <img 
          class="blur-lg absolute transition inset-0 group-hover:contrast-150 opacity-75 -z-10 aspect-square"
          loading="lazy"  
          src={`/archivo-page/1/gallery/img-${i + 1}.webp`} 
            alt=""
          >

        </a>
      ))
    }
    
  </div>


<script type="module">
  import PhotoSwipeLightbox from "photoswipe/lightbox";

  const lightbox = new PhotoSwipeLightbox({
    gallery: "#gallery",
    children: "a",
    
    pswpModule: () => import("photoswipe"),
  });
  lightbox.init();
</script>
